.product-card {
    width: 200px;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 4px var(--color-grey2), -4px 0 4px var(--color-grey2);
}
.product-card__image img {
    width: 200px;
    height: 180px;
}
.product-card__title {
    text-align: center;
    margin-top: 10px;
    height: 30px;
    font-weight: bold;
    color: var(--color-black);
    font-size: 18px;
    line-height: 15px;
    margin-bottom: 10px;
}
.product_card__description {
    font-size: 16px;
    height: 38px;
    padding-left: 10px;
    margin-bottom: 15px;
}
.product-card__pay-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    flex-direction: row;
}
